:root {
  --primary-color: #1a1a1a;
  --deasie-color: #35e6bd;
  --secondary-color: #2a2a2a;
  --background-color: #121212;
  --text-color: #e0e0e0;
  --user-message-color: #081f1d;
  --bot-message-color: #333333;
  --border-radius: 20px;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
