.sidebar {
  background-color: var(--primary-color);
  padding: 20px;
  overflow-y: auto;
  color: var(--text-color);
  height: calc(100% - 40px);
  h2 {
    margin-bottom: 20px;
  }
}

.conversationList {
  list-style-type: none;
  padding: 0;
}

.conversationItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 .25px .5px var(--primary-color);
}

.removeButton {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: var(--text-color);

  &:hover {
    color: var(--user-message-color);
  }
}
